/* body & CTAs */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
}

/* === Start Huddle Section === */
.huddle {
  padding: 50px 80px;
  background-image: url(images/bg-hero-desktop.svg);
  background-size: cover;
  background-color: hsl(193, 100%, 96%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.huddle header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.huddle header .logo {
  width: 200px;
}

.huddle header button {
  border: none;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 50px;
  font-weight: 700;
  box-shadow: 0px 3px 5px hsla(0, 0%, 0%, 0.212);
}

button:hover {
  cursor: pointer;
}

.huddle .about {
  width: 40%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.huddle .about h1 {
  font-size: 38px;
  margin-top: 75px;
  font-weight: 600;
}

.huddle .about p {
  width: 520px;
  line-height: 1.5;
  margin-top: 30px;
}

.huddle .about button {
  width: 300px;
  padding: 15px 0;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  font-weight: 700;
  font-size: 15px;

}

.huddle .about button:hover,
.cta-box button:hover {
  background-color: hsla(322, 100%, 66%, 0.712);

}

.huddle img {
  width: 55%;
}

/* === End Huddle Section === */
/* === Start Cards Section === */
.cards {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 150px;
}

.cards .card {
  width: 75%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 15px 30px 100px;
  gap: 100px;
  box-shadow: 0 0 25px hsla(209, 11%, 55%, 0.25);
  border-radius: 10px;
}

.cards .card:nth-of-type(2) {
  flex-flow: row-reverse;
}

.cards .card .text h2 {
  font-weight: 600;
}

.cards .card .text p {
  margin-top: 20px;
  color: hsl(208, 11%, 55%);
}

.cards .card img {
  width: 400px;
}

/* === End Cards Section === */
/* === Start Footer Section === */
.cta-box {
  width: fit-content;
  margin: auto;
  box-shadow: 0 0 25px hsla(209, 11%, 55%, 0.25);
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  top: 80px;
  background-color: #fff;
}

.cta-box h3 {
  font-size: 30px;
  font-weight: 600;
}

.cta-box button {
  border: none;
  padding: 25px 15px;
  width: 350px;
  border-radius: 50px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 50px;
  box-shadow: 0 5px 10px hsla(209, 11%, 55%, 0.397);

}

.footer {
  height: 40vh;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.footer section {
  width: 30%;
}

.footer .about div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
}

.footer .about div img {
  margin-top: 5px;
}

.footer .about div p {
  font-size: 16px;
}

.footer .links {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.footer .links a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 20px;
}

.footer .socials-copyright {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.footer .socials-copyright .socials a {
  color: #fff;
  margin-left: 10px;
}

.footer .socials-copyright p {
  margin: 30px 0 0 10px;
  font-size: 13px;
}

/* === End Footer Section === */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* === Media Query === */
@media (max-width: 767px) {
  .huddle {
    padding: 20px;

  }

  .huddle header .logo {
    width: 130px;
  }

  .huddle header button {
    padding: 5px 25px;
  }

  .huddle .about {
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .huddle .about h1 {
    font-size: 30px;
  }

  .huddle .about p {
    width: unset;
  }

  .huddle img {
    width: 100%;
    margin-top: 50px;
  }

  .cards {
    margin-top: 70px;
  }

  .cards .card {
    width: 75%;
    flex-flow: column-reverse;
    padding: 50px 30px;
    text-align: center;
  }

  .cards .card:nth-of-type(2) {
    flex-flow: column-reverse;
  }

  .cards .card img {
    width: 100%;
  }

  .cta-box {
    width: 90%;
    padding: 40px 0;
    top: 70px;
  }

  .cta-box h3 {
    font-size: 20px;
  }

  .cta-box button {
    width: 270px;
    padding: 15px 0;
    margin-top: 20px;
  }

  .footer {
    height: unset;
    width: 100vw;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 200px 0 0;
  }

  .footer section {
    margin: 30px 20px;
    width: 90%;

  }

  .footer .links {
    flex-flow: column;
    gap: 0;
  }

  .footer .socials-copyright {
    align-items: center;
  }

  .footer .socials-copyright * {
    margin: 0;
  }
}